@import "https://fonts.googleapis.com/css2?family=Anek+Latin&display=swap";
:root {
  --primary-color: #2f2f2f;
  --secondary-color: #343a40;
  --third-color: #ff3333;
  --text-color: #fff;
  --hover-color: #efefef29;
  --soft-while-color: #fff;
  --alt-color: #ff3333;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Anek Latin", sans-serif;
  color: var(--primary-color);
  background-color: var(--soft-while-color);
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
a {
  text-decoration: none;
}
.header {
  background: var(--primary-color);
  height: 60px;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.header .logo a img {
  height: 45px;
  transition: transform 0.2s ease-out;
}
.header .logo a img:hover {
  transform: scale(1.2);
  transform: rotate(-10deg);
}
.header .nav-menu ul {
  display: flex;
  gap: 20px;
}
.header li {
  list-style: none;
}
.header ul li a {
  font-size: 18px;
  color: var(--text-color);
  padding: 6px 15px;
  text-transform: uppercase;
  border-radius: 5px;
  transition: all 0.2s ease-out;
}
.header ul li a:hover {
  background: var(--hover-color);
  padding: 6px 15px;
}
.showcase {
  margin-top: 20px;
}
.showcase .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 500px;
}
.showcase .showcase-left {
  background: var(--primary-color);
  height: 100%;
  text-align: center;
}
.showcase .showcase-left h1 {
  font-size: 10rem;
}
.showcase .showcase-right {
  background: var(--third-color);
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}
.container-box {
  padding: 0 20px 20px;
}
p {
  line-height: 1.3;
}
i {
  margin-right: 5px;
}
.heading {
  font-size: 2rem;
  text-align: center;
  width: 15%;
  border-bottom: var(--third-color) 2px solid;
  padding-bottom: 3px;
  margin: 20px auto;
}
.sub-heading {
  text-transform: uppercase;
  margin: 0 0 15px;
}
.sub-heading span {
  color: var(--alt-color);
}
.sub-heading-style {
  background: rgba(51, 51, 51, 0.872);
  color: var(--text-color);
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 500;
}
.third-heading {
  font-size: 1.2rem;
  text-transform: capitalize;
  margin: 15px 0;
  margin-bottom: 20px;
}
.third-heading span {
  padding-bottom: 5px;
  border-bottom: 2px solid var(--third-color);
}
.icon {
  background: var(--primary-color);
  color: var(--text-color);
  padding: 10px;
  border-radius: 50%;
}
.btn {
  padding: 10px 15px;
  border: none;
  background: var(--primary-color);
  color: var(--text-color);
  text-transform: uppercase;
  border-radius: 5px;
}
.btn-primary {
  background: var(--primary-color);
}
.btn-primary:hover {
  background: var(--secondary-color);
}
.btn-third {
  background: var(--third-color);
}
.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 5px;
  transition: transform 0.2s ease-out;
}
.card .card-body {
  margin-bottom: -5px;
}
.card:hover {
  transform: scale(1.03);
}
.card-header {
  background: var(--primary-color);
  color: var(--text-color);
}
.mt-1 {
  margin-top: 5px;
}
.mt-2 {
  margin-top: 10px;
}
.my-2 {
  margin: 10px 0;
}
.hidden {
  display: none !important;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  z-index: 5;
}
.dark {
  background-color: #333;
}
.sub-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.gallery-grid .card-body img {
  border-radius: 5px 5px 0 0;
}
.gallery-grid .card-header {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  border-radius: 0 0 5px 10px;
}
.gallery-grid .card-header .img-icon {
  background: var(--text-color);
  border-radius: 0 0 0 5px;
  padding: 3px;
  height: 100%;
}
.gallery-grid .card-header .img-icon img {
  width: 25px;
  height: 25px;
  transition: transform 0.2s ease-out;
}
.gallery-grid .card-header .img-icon img:hover {
  transform: scale(1.2);
}
.gallery-grid .card-header p {
  height: auto;
}
.modal .container-flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.modal .container-flex .item-flex {
  width: 5rem;
  flex-grow: 1;
}
.modal .container-flex .close-modal {
  position: absolute;
  top: 0.4rem;
  right: 0.6rem;
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
  border: none;
  background: none;
  transition: transform 0.15s ease-out;
}
.modal .container-flex .close-modal:hover {
  transform: scale(1.2);
}
.modal .container-flex .img {
  border: 1px solid #dadada;
  border-radius: 5px;
}
.modal .container-flex .desc h2 {
  font-size: 18px;
  margin: 0;
  line-height: 1.5;
  color: var(--primary-color);
  text-transform: none;
}
.modal .container-flex .desc h2 span {
  font-weight: normal;
}
.modal .container-flex .desc h2 a {
  color: var(--third-color);
  font-weight: normal;
}
.modal .container-flex .desc p {
  margin-bottom: 25px;
}
.portfolio img {
  width: 100%;
}
.portfolio .web,
.portfolio .media {
  margin-bottom: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.portfolio .media .sub-heading {
  margin: 0;
}
.portfolio .media .gallery-grid {
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 768px) {
  .heading {
    width: 30%;
    font-size: 1.7rem;
  }
  .header {
    height: 100%;
    padding: 10px 0;
  }
  .header .container {
    flex-direction: column;
    gap: 10px;
  }
  .header .nav-menu ul {
    display: flex;
    gap: 2px;
  }
  .header li {
    margin-bottom: 6px;
  }
  .gallery-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .portfolio .sub-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .modal .container-flex {
    flex-direction: column;
    gap: 15px;
    width: 90%;
  }
  .modal .container-flex .item-flex {
    width: auto;
    flex-grow: 0;
  }
  .modal .container-flex .close-modal {
    position: absolute;
    top: 0.4rem;
    right: 0.6rem;
    font-size: 1.5rem;
    color: var(--primary-color);
    cursor: pointer;
    border: none;
    background: none;
    transition: transform 0.15s ease-out;
  }
  .modal .container-flex .close-modal:hover {
    transform: scale(1.1);
  }
  .modal .container-flex .desc h2 {
    font-size: 17px;
  }
}
