@media (max-width: 768px) {
  // p {
  //   font-size: 15px;
  // }
  // || Header Menu
  .heading {
    width: 30%;
    font-size: 1.7rem;
  }

  .header {
    height: 100%;
    padding: 10px 0;

    .container {
      flex-direction: column;
      gap: 10px;
    }

    .nav-menu ul {
      display: flex;
      gap: 2px;
    }

    li {
      margin-bottom: 6px;
    }
  }

  // || Grid System
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .portfolio {
    .sub-grid {
      grid-template-columns: repeat(1, 1fr);
    }

    .media .gallery-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  // || Modal
  .modal {
    .container-flex {
      flex-direction: column;
      gap: 15px;
      width: 90%;

      .item-flex {
        width: auto;
        flex-grow: 0;
      }

      .close-modal {
        position: absolute;
        top: 0.4rem;
        right: 0.6rem;
        font-size: 1.5rem;
        color: var(--primary-color);
        cursor: pointer;
        border: none;
        background: none;
        transition: transform 0.15s ease-out;
      }

      .close-modal:hover {
        transform: scale(1.1);
      }

      .desc {
        h2 {
          font-size: 17px;
        }
      }
    }
  }
}
